*.pyc
*cachedir
*.csv
*/catboost_info/*


*.pkl.gz
*.pdf

.coverage
dev/*
*.rdf
test_syn_reactor.py

Data/Benchmark/*
*.json.gz
# *.png

run.sh
docs/*
run_rdcanon.py
Data/Fragment/*
test_partial.py
Data/Benchmark/synthesis/*
Data/USPTO/*
crn/*
test_run.py
Data/Study/CRN/case_formose/*

synkit/Graph/dev/*
*.ipynb
*.json
*.txt
*.log
sprint/
test_syn.py
.gitignore
measure_candidate_stages.py
run_valid_bug_cases.py
debug/*
